@import-normalize;
@import './variaveis';

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: linear-gradient($azul-escuro, $azul-claro);
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 3px;
}

body::-webkit-scrollbar-thumb {
    background-color: $azul-claro;
    border-radius: 20px;
}

body::-webkit-scrollbar-track {
    background: linear-gradient($azul-escuro, $azul-claro);
}

@font-face {
    font-family: $fonte-normal;
    src: local($fonte-normal),
        url("../assets/fontes/GandhiSans-Regular.otf") format("truetype");
    font-weight: 500;
    display: swap;
}

@font-face {
    font-family: $fonte-bold;
    src: local($fonte-bold),
        url("../assets/fontes/GandhiSans-Bold.otf") format("truetype");
    font-weight: 700;
    display: swap;
}